{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/my-preferences.css" />
{% endblock %}

{% block js %}
    <script src="/static/js/my-preferences.js"></script>
{% endblock %}

{% block title %} Preferences {% endblock %}

{% block body_classes %}
    {% if current_user.has_permission(UserPermission.ADMIN) %}
        is-admin
    {% endif %}
{% endblock %}

{% block content %}
    <form id="preferences-form">
        <div id="preferences-header">
            <div
                class="avatar"
                style="background-color: {{ current_user.avatar_colour}}"
            >
                <span>{{ current_user.display_name[0] }}</span>
            </div>
            <div id="names">
                <h1 id="displayed-display-name">
                    {{ current_user.display_name }}
                </h1>
                <h2 id="displayed-username">
                    {{ current_user.username }}
                </h2>
            </div>

            <button id="edit-button" type="button" disabled>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                >
                    <path
                        d="M120-120v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm584-528 56-56-56-56-56 56 56 56Z"
                    />
                </svg>
                <span>Edit</span>
            </button>
        </div>

        <!-- autocomplete=off on inputs so they start disabled on page reload -->

        <div class="form-row">
            <h3 class="form-section-title">Your Information</h3>
            <div class="columns">
                <div class="form-field" title="What others see.">
                    <label for="display-name">Display Name</label>
                    <div id="display-name-wrapper">
                        <input
                            id="display-name"
                            type="text"
                            value="{{ current_user.display_name }}"
                            placeholder="{{ current_user.display_name }}"
                            disabled
                            autocomplete="off"
                        />
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="24px"
                            viewBox="0 -960 960 960"
                            width="24px"
                            fill="#e3e3e3"
                        >
                            <title>Only editable by the Administrator.</title>
                            <path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z"/>
                        </svg>
                    </div>
                </div>

                <div class="form-field" title="Used for logging in.">
                    <label for="username">Username</label>
                    <input
                        id="username"
                        type="text"
                        value="{{ current_user.username }}"
                        placeholder="{{ current_user.username }}"
                        disabled
                        autocomplete="off"
                        required
                    />
                </div>
            </div>
        </div>

        <div class="form-row">
            <h3 class="form-section-title">General</h3>
            <div class="columns">
                <div class="form-field">
                    <label for="homepage">Home Page</label>
                    <select
                        id="homepage"
                        disabled
                        autocomplete="off"
                        required
                    >
                        <option value="readings">
                            Readings (default)
                        </option>
                        <option value="history">History</option>
                        <option value="sensors">Sensors</option>
                        <option value="reports">Reports</option>
                        <option value="verify-reports">
                            Verify Reports
                        </option>
                    </select>
                </div>

                <div class="form-field">
                    <label for="temperature-unit">
                        Temperature Unit
                    </label>
                    <select
                        id="temperature-unit"
                        disabled
                        autocomplete="off"
                        required
                    >
                        <option value="celsius">Celsius (°C)</option>
                        <option value="fahrenheit">
                            Fahrenheit (°F)
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div id="edit-controls">
            <button id="cancel" type="button">Cancel</button>
            <button id="apply" type="submit">Apply</button>
        </div>
    </form>
{% endblock %}
