{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/readings.css">
{% endblock %}

{% block js %}
    <script src="/static/js/lib/raphael.min.js"></script>
    <script src="/static/js/lib/justgage.min.js"></script>
    <script src="/static/js/gaugecard.js"></script>
    <script src="/static/js/readings.js"></script>
{% endblock %}

{% block title %} Readings {% endblock %}

{% block body_classes %} loading-gauge-cards {% endblock %}

{% block content %}
    <div id="skeleton-gauge-cards">
        <!-- approximately 2 card rows at 100% zoom -->
        <div class="gauge-card skeleton"></div>
        <div class="gauge-card skeleton"></div>
        <div class="gauge-card skeleton"></div>
        <div class="gauge-card skeleton"></div>
        <div class="gauge-card skeleton"></div>
        <div class="gauge-card skeleton"></div>
        <div class="gauge-card skeleton"></div>
        <div class="gauge-card skeleton"></div>
    </div>

    <div id="gauge-cards"></div>
{% endblock %}
