{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/readings.css">
{% endblock %}

{% block js %}
    <script src="/static/js/api.js"></script>
    <script src="/static/js/lib/raphael.min.js"></script>
    <script src="/static/js/lib/justgage.min.js"></script>
    <script src="/static/js/gaugecard.js"></script>
    <script src="/static/js/readings.js"></script>
{% endblock %}

{% block title %} Readings {% endblock %}

{% block content %}
    <h2>readings</h2>
    <div id="gauge-cards"></div>
{% endblock %}
