{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/lib/toastify.min.css">
    <link rel="stylesheet" href="/static/css/reports.css">
{% endblock %}

{% block js %}
    <script src="/static/js/lib/toastify.min.js"></script>
    <script src="/static/js/reports.js"></script>
{% endblock %}

{% block title %} Reports {% endblock %}

{% block content %}
    <form id="report-form">
        <div id="form-columns" class="columns">
            <div id="form-sections">
                <section class="form-section">
                    <h3 class="form-section-title">Data</h3>

                    <div class="form-row columns">
                        <div class="form-field">
                            <label for="sensor">Sensor</label>
                            <select id="sensor" required disabled>
                                <option value="" disabled selected hidden>-- Pick one --</option>
                            </select>
                        </div>

                        <div class="form-field">
                            <label for="format">Data format</label>
                            <select id="format" required>
                                <option value="table" selected>Table</option>
                                <option value="graph">Graph</option>
                                <option value="table-and-graph">Table &amp; Graph</option>
                            </select>
                        </div>
                    </div>
                </section>

                <section class="form-section">
                    <h3 class="form-section-title">Timeframe</h3>

                    <div id="timeframe-types">
                        <div class="timeframe-type">
                            <div class="datetime-field">
                                <input type="radio" id="single-timeframe" name="timeframe-type" value="single" required checked>
                                <label for="single-timeframe">Single day:</label>
                                <input type="date" id="single-value" required>
                            </div>
                        </div>

                        <div class="timeframe-type">
                            <div class="datetime-field">
                                <input type="radio" id="range-timeframe" name="timeframe-type" value="range" required>
                                <label for="range-timeframe">Date range</label>
                            </div>

                            <ol class="form-row" id="range-fields">
                                <li class="datetime-field">
                                    <label for="start-value">From:</label>
                                    <input type="date" id="start-value" disabled>
                                </li>

                                <li class="datetime-field">
                                    <label for="end-value">Until:</label>
                                    <input type="date" id="end-value" disabled>
                                </li>
                            </ol>
                        </div>

                        <div class="form-row">
                            Total readings: <span id="readings-count">…</span>
                        </div>
                    </div>
                </section>

                <div class="form-row form-field">
                    <label for="notes">Notes (optional)</label>
                    <textarea id="notes" rows="5" maxlength="200" placeholder="Write anything else you'd like to be included in the report."></textarea>
                    <span id="notes-length">
                        (<span id="notes-current-length">0</span>/200)
                    </span>
                </div>
            </div>

            <div>
                <div id="preview">
                    <div id="preview-header" class="preview-section">
                        <span>Header</span>
                    </div>
                    <div id="preview-data">
                        <div id="preview-table" class="preview-section">
                            <span>Table</span>
                        </div>
                        <div id="preview-graph" class="preview-section">
                            <span>Graph</span>
                        </div>
                    </div>
                    <div id="preview-notes" class="preview-section">
                        <span>Notes</span>
                    </div>
                </div>
            </div>
        </div>

        <button id="generate" type="submit">Generate report</button>
    </form>
{% endblock %}
