{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/sensors.css">
{% endblock %}

{% block js %}
    <script src="/static/js/sensors.js"></script>
{% endblock %}

{% block title %} Sensors {% endblock %}

{% block content %}
    <div id="controls">
        <button id="create-button" disabled>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e3e3e3"
            >
                <path
                    d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
                />
            </svg>
            <span>Create sensor</span>
        </button>
    </div>
    <div id="sensors"></div>
{% endblock %}
