{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/lib/micromodal.css">
    <link rel="stylesheet" href="/static/css/sensors.css">
{% endblock %}

{% block js %}
    <script>
        const canEditSensors = {{
            current_user.has_permission(UserPermission.EDIT_SENSORS) | tojson
        }};
    </script>
    <script src="/static/js/lib/micromodal.min.js"></script>
    <script src="/static/js/sensors.js"></script>
{% endblock %}

{% block title %} Sensors {% endblock %}

{% block body_classes %} loading-sensors {% endblock %}

{% block content %}
    <div class="info-empty">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e3e3e3"
        >
            <path d="M148-257q-32-48-50-104.5T80-480q0-63 18-119t50-104l67 44q-26 38-40.5 83.5T160-480q0 50 14.5 95t40.5 83l-67 45Zm549-122L379-697q23-11 48.5-17t52.5-6q100 0 170 70t70 170q0 27-6 52.5T697-379Zm117 117-58-58q21-35 32.5-75t11.5-85q0-50-14.5-95.5T745-659l66-44q32 48 50.5 104T880-480q0 60-17.5 115T814-262ZM791-56 584-264q-23 11-49.5 17.5T480-240q-100 0-170-70t-70-170q0-28 6.5-54.5T264-584L56-792l56-56 736 736-57 56Z"/>
        </svg>
        <p>No sensors have been created yet.</p>
    </div>

    <div id="skeleton-sensors">
        <!-- approximately 2 card rows at 100% zoom -->
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
        <div class="sensor skeleton"></div>
    </div>
    <div id="sensors"></div>

    <!-- modals -->

    <!-- edit modal -->
    <div class="modal micromodal-slide" id="modal-edit" aria-hidden="true">
        <!--
            manually adding the onmousedown listener to avoid the modal closing
            unexpectedly. see:
            https://github.com/micromodal/Micromodal/issues/505#issuecomment-1358832696
        -->
        <div class="modal__overlay" tabindex="-1"
            onmousedown="event.target.classList.contains('modal__overlay')
                && MicroModal.close('modal-edit')">
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-edit-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-edit-title">
                        Edit sensor
                    </h2>
                    <button class="modal__close" aria-label="Close" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-edit-content">
                    <form id="modal-edit-form">
                        <div class="form-field">
                            <label for="modal-edit-name">Name</label>
                            <input
                                id="modal-edit-name"
                                type="text"
                                required
                                minlength="1"
                                maxlength="64"
                                pattern=".*\S.*"
                                title="The name cannot be empty"
                            >
                        </div>
                    </form>
                </main>

                <footer class="modal__footer">
                    <button
                        class="modal__btn"
                        data-micromodal-close=""
                        aria-label="Close this modal"
                    >
                        Cancel
                    </button>
                    <button
                        id="modal-edit-apply"
                        class="modal__btn"
                        type="submit"
                        form="modal-edit-form"
                    >
                        Apply
                    </button>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
