{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/system-settings.css" />
{% endblock %}

{% block js %}
    <script src="/static/js/system-settings.js"></script>
{% endblock %}

{% block title %} System Settings {% endblock %}

{% block content %}
    <form id="settings-form">
        <div class="form-section">
            <h3 class="form-section-title">General</h3>

            <div class="section-settings">
                <div class="setting">
                    <label for="default-temperature-unit">
                        <h4 class="setting-title">
                            Default temperature unit
                        </h4>
                        <p class="setting-description">
                            Default temperature unit for new accounts;
                            users can change it later in Preferences.
                        </p>
                    </label>
                    <select
                        id="default-temperature-unit"
                        autocomplete="off"
                        required
                    >
                        <option value="celsius">Celsius (°C)</option>
                        <option value="fahrenheit">
                            Fahrenheit (°F)
                        </option>
                    </select>
                </div>

                <div class="setting">
                    <label for="minimum-temperature-value">
                        <h4 class="setting-title">
                            Minimum temperature value (Celsius)
                        </h4>
                        <p class="setting-description">
                            Minimum value for gauges and graphs.
                        </p>
                    </label>
                    <input
                        id="minimum-temperature-value"
                        type="number"
                        autocomplete="off"
                        min="-50"
                        value="-20"
                        max="5"
                        required
                    />
                </div>

                <div class="setting">
                    <label for="maximum-temperature-value">
                        <h4 class="setting-title">
                            Maximum temperature value (Celsius)
                        </h4>
                        <p class="setting-description">
                            Maximum value for gauges and graphs.
                        </p>
                    </label>
                    <input
                        id="maximum-temperature-value"
                        type="number"
                        autocomplete="off"
                        min="10"
                        value="40"
                        max="60"
                        required
                    />
                </div>
            </div>
        </div>

        <div id="edit-controls">
            <button id="cancel" type="button">Cancel</button>
            <button id="apply" type="submit">Apply</button>
        </div>
    </form>
{% endblock %}
