{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/lib/datatables.min.css">
    <link rel="stylesheet" href="/static/css/lib/micromodal.css">
    <link rel="stylesheet" href="/static/css/users.css">
{% endblock %}

{% block js %}
    <script>
        const currentUserId = {{ current_user.id }};
    </script>
    <script src="/static/js/lib/jquery-3.7.1.min.js"></script>
    <script src="/static/js/lib/datatables.min.js"></script>
    <script src="/static/js/lib/micromodal.min.js"></script>
    <script src="/static/js/users.js"></script>
{% endblock %}

{% block title %} Users {% endblock %}

{% block content %}
    <div id="top-actions">
        <button id="top-action-create" class="top-action-button">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e3e3e3"
            >
                <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
            </svg>
            <span>Create</span>
        </button>
    </div>
    <table id="users-table" class="display">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>username</th>
                <th>Permissions</th>
                <th>Updated on</th>
                <th>Created on</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <!-- modals -->

    <!-- create modal -->
    <div class="modal micromodal-slide" id="modal-create" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1"
            onmousedown="event.target.classList.contains('modal__overlay')
                && MicroModal.close('modal-create')">
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-create-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-create-title">
                        Create user
                    </h2>
                    <button class="modal__close" aria-label="Close" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-create-content">
                    <form id="modal-create-form">
                        <div class="columns">
                            <div class="form-field" title="What others see.">
                                <label for="modal-create-display-name">Display Name</label>
                                <input
                                    id="modal-create-display-name"
                                    type="text"
                                    placeholder="John Doe"
                                    required
                                    minlength="2"
                                    maxlength="32"
                                    pattern=".*\S.*\S.*"
                                    title="2-32 characters"
                                >
                            </div>

                            <div class="form-field" title="Used for logging in.">
                                <label for="modal-create-username">Username</label>
                                <input
                                    id="modal-create-username"
                                    type="text"
                                    placeholder="john.doe"
                                    required
                                    minlength="2"
                                    maxlength="32"
                                    pattern="\S{2,}"
                                    title="2-32 characters, no spaces"
                                >
                                <span class="form-field-helper">
                                    No spaces allowed.
                                </span>
                            </div>
                        </div>

                        <div>
                            <h3 class="form-section-title">Permissions</h3>
                            <ul id="modal-create-permissions">
                                <li class="permission">
                                    <div>
                                        <input type="checkbox" id="create-permission-manage-reports" value="1" name="create-permissions">
                                    </div>
                                    <label for="create-permission-manage-reports">
                                        <span class="permission-name">Manage reports</span>
                                        <span class="permission-description">
                                            View, generate, and verify reports
                                        </span>
                                    </label>
                                </li>

                                <li class="permission">
                                    <div>
                                        <input type="checkbox" id="create-permission-edit-sensors" value="2" name="create-permissions">
                                    </div>
                                    <label for="create-permission-edit-sensors">
                                        <span class="permission-name">Edit sensors</span>
                                        <span class="permission-description">
                                            Edit sensor properties like name and status.
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </form>
                </main>

                <footer class="modal__footer">
                    <button
                        class="modal__btn"
                        data-micromodal-close=""
                        aria-label="Close this modal"
                    >
                        Cancel
                    </button>
                    <button
                        id="modal-create-create"
                        class="modal__btn primary"
                        type="submit"
                        form="modal-create-form"
                    >
                        Create
                    </button>
                </footer>
            </div>
        </div>
    </div>

    <!-- edit modal -->
    <div class="modal micromodal-slide" id="modal-edit" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1"
            onmousedown="event.target.classList.contains('modal__overlay')
                && MicroModal.close('modal-edit')">
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-edit-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-edit-title">
                        Edit user
                    </h2>
                    <button class="modal__close" aria-label="Close" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-edit-content">
                    <form id="modal-edit-form">
                        <div>
                            <h3 class="form-section-title">Permissions</h3>
                            <ul id="modal-edit-permissions">
                                <li class="permission">
                                    <div>
                                        <input type="checkbox" id="edit-permission-manage-reports" value="1" name="edit-permissions">
                                    </div>
                                    <label for="edit-permission-manage-reports">
                                        <span class="permission-name">
                                            Manage reports
                                            <span class="permission-granted-notice">(granted)</span>
                                        </span>
                                        <span class="permission-description">
                                            View, generate, and verify reports
                                        </span>
                                    </label>
                                </li>

                                <li class="permission">
                                    <div>
                                        <input type="checkbox" id="edit-permission-edit-sensors" value="2" name="edit-permissions">
                                    </div>
                                    <label for="edit-permission-edit-sensors">
                                        <span class="permission-name">
                                            Edit sensors
                                            <span class="permission-granted-notice">(granted)</span>
                                        </span>
                                        <span class="permission-description">
                                            Edit sensor properties like name and status.
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </form>
                </main>

                <footer class="modal__footer">
                    <button
                        class="modal__btn"
                        data-micromodal-close=""
                        aria-label="Close this modal"
                    >
                        Cancel
                    </button>
                    <button
                        id="modal-edit-edit"
                        class="modal__btn primary"
                        type="submit"
                        form="modal-edit-form"
                    >
                        Apply
                    </button>
                </footer>
            </div>
        </div>
    </div>

    <!-- reset password modal -->
    <div class="modal micromodal-slide" id="modal-reset-password" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1"
            onmousedown="event.target.classList.contains('modal__overlay')
                && MicroModal.close('modal-reset-password')">
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-reset-password-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-reset-password-title">
                        Reset password
                    </h2>
                    <button class="modal__close" aria-label="Close" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-reset-password-content">
                    <form id="modal-reset-password-form">
                        <p>Are you sure you want to reset this user's password?</p>
                        <ul>
                            <li>
                                Name:
                                <span id="modal-reset-password-display-name"></span>
                            </li>
                        </ul>
                        <p>
                            A temporary password will be created; the user will be
                            prompted to set a new password once they sign in.
                        </p>
                    </form>
                </main>

                <footer class="modal__footer">
                    <button
                        class="modal__btn"
                        data-micromodal-close=""
                        aria-label="Close this modal"
                    >
                        Cancel
                    </button>
                    <button
                        id="modal-reset-password-confirm"
                        class="modal__btn primary"
                        type="button"
                    >
                        Confirm
                    </button>
                </footer>
            </div>
        </div>
    </div>


    <!-- temporary password modal -->
    <div class="modal micromodal-slide" id="modal-temporary-password" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1"
            onmousedown="event.target.classList.contains('modal__overlay')
                && MicroModal.close('modal-temporary-password')">
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-temporary-password-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-temporary-password-title">
                        Temporary password
                    </h2>
                    <button class="modal__close" aria-label="Close" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-temporary-password-content">
                    <form id="modal-temporary-password-form">
                        <p>
                            A temporary password has been generated for the user
                            "<span id="modal-temporary-password-display-name"></span>":
                        </p>

                        <ul>
                            <li>
                                Username:
                                <span id="modal-temporary-password-username"></span>
                            </li>
                            <!-- TODO: click to reveal -->
                            <li>
                                Password:
                                <span id="modal-temporary-password-password"></span>
                            </li>
                        </ul>
                        <p>
                            The user must log in with these credentials.
                            Once signed in, they will be prompted to create a
                            new password.
                        </p>
                        <p>
                            This is only shown once.
                        </p>
                    </form>
                </main>

                <footer class="modal__footer">
                    <button
                        class="modal__btn"
                        data-micromodal-close=""
                        aria-label="Close this modal"
                    >
                        Close
                    </button>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
