{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/lib/datatables.min.css">
    <link rel="stylesheet" href="/static/css/lib/micromodal.css">
    <link rel="stylesheet" href="/static/css/users.css">
{% endblock %}

{% block js %}
    <script src="/static/js/lib/jquery-3.7.1.min.js"></script>
    <script src="/static/js/lib/datatables.min.js"></script>
    <script src="/static/js/lib/micromodal.min.js"></script>
    <script src="/static/js/users.js"></script>
{% endblock %}

{% block title %} Users {% endblock %}

{% block content %}
    <div id="top-actions">
        <button id="top-action-create" class="top-action-button">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e3e3e3"
            >
                <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
            </svg>
            <span>Create</span>
        </button>
    </div>
    <table id="users-table" class="display">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>username</th>
                <th>Permissions</th>
                <th>Updated on</th>
                <th>Created on</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
