{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/verify-reports.css">
{% endblock %}

{% block js %}
    <script src="/static/js/api.js"></script>
    <script src="/static/js/lib/imask.min.js"></script>
    <script src="/static/js/verify-reports.js"></script>
{% endblock %}

{% block title %} Verify Reports {% endblock %}

{% block content %}
    <form id="code-form">
        <label for="code">Report code:</label>
        <input id="code" type="text" pattern="[0-9A-Z]{4}—[0-9A-Z]{4}—[0-9A-Z]{2}" required/>
        <button type="submit">Verify</button>
    </form>
{% endblock %}
