<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Create Password - FrostSense</title>
        <link rel="stylesheet" href="/static/css/global.css" />
        <link rel="stylesheet" href="/static/css/lib/toastify.min.css" />
        <link rel="stylesheet" href="/static/css/create-password.css" />
    </head>
    <body>
        <div id="content">
            <form id="password-form">
                <p>
                    Your account currently has a temporary password.
                    <br />
                    Before proceeding, please create a new password below:
                </p>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        required
                        minlength="8"
                        maxlength="100"
                    />
                </div>

                <div class="form-field">
                    <label for="password-confirm">Confirm password</label>
                    <input
                        type="password"
                        id="password-confirm"
                        required
                        minlength="8"
                        maxlength="100"
                    />
                    <span class="form-field-helper">At least 8 characters</span>
                </div>

                <button id="confirm">Apply</button>
            </form>
        </div>

        <script src="/static/js/lib/toastify.min.js"></script>
        <script src="/static/js/global.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/create-password.js"></script>
    </body>
</html>
