body {
    background-color: white;
}

#content {
    font-size: 14pt;
    margin: 64px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    background-color: var(--color-foreground);
}

#password-form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.form-field {
    row-gap: 4px;
}

#password-form input {
    font-size: inherit;
    padding: 8px 40px 8px 8px;
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.form-field-helper {
    font-size: 10pt;
}

#confirm {
    background-color: var(--color-dark-background);
    border: none;
    padding: 8px 0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto 0 auto;
    font-size: inherit;
    width: 100%;
}

#logout {
    align-items: center;
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: inline-flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 4px;
    column-gap: 8px;
    transition: background-color 0.075s ease;
}

#logout svg {
    fill: var(--color-negative);
}

#logout:hover {
    background-color: var(--color-negative-hover);
}
