@font-face {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url("../fonts/Arimo-variable.woff2") format("woff2");
}

@font-face {
    font-family: "Arimo";
    font-style: italic;
    font-weight: 400 700;
    font-display: swap;
    src: url("../fonts/Arimo-italic-variable.woff2") format("woff2");
}
