body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    /* -- colours -- */
    --color-background: #e0ecf9;
    --color-foreground: white;

    --color-active: #28a745;

    background-color: var(--color-background);
}

#content {
    display: flex;
    flex-direction: row;
}

#sidebar {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

#header {
    margin: 12px 24px;
}

#page-title {
    font-size: 14pt;
    margin: 0;
}

#page-content {
    flex: 1;
    padding: 12px 24px 24px 24px;
}
