body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    /* -- sizes -- */
    --sidebar-width: 200px;
    --header-avatar-size: 36px;

    /* -- colours -- */
    --color-background: #e0ecf9;
    --color-foreground: white;

    --color-text-primary: black;
    --color-text-secondary: #6e7387;

    --color-border: #99a1bc;
    --color-border-light: #d2d6e2;

    --color-dark-background: #384884;
    --color-dark-background-text: #c7d0f2;
    --color-dark-background-hover: #495996;
    --color-dark-background-selected: #5768ac;

    --color-hover: #6e89f457;

    --color-active: #28a745;
    --color-negative: #db2929;
    --color-negative-hover: #ef1b1b36;

    background-color: var(--color-background);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

select,
input[type="date"],
textarea {
    padding: 4px;
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.form-field {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

#content {
    display: flex;
    flex-direction: row;
}

#sidebar {
    box-sizing: border-box;
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--color-dark-background);
    padding: 8px;
    row-gap: 32px;
}

#sidebar-logo {
    font-size: 24pt;
    text-align: center;
    background-color: lightsalmon;
    align-content: center;
    height: 70px;
}

#sidebar-links {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

#sidebar-links a {
    padding: 8px 16px;
    color: var(--color-dark-background-text);
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.1s ease;
}

#sidebar-links a:hover {
    background-color: var(--color-dark-background-hover);
}

#sidebar-links a svg {
    fill: white;
    width: 24px;
    height: 24px;
    fill: var(--color-dark-background-text);
}

#sidebar-links a.selected {
    background-color: var(--color-dark-background-selected);
    color: white;
}

#sidebar-links a.selected svg {
    fill: white;
}

#section-content {
    flex: 1;
    margin-left: var(--sidebar-width);
}

#header {
    margin: 16px 32px 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-title {
    font-size: 14pt;
    margin: 0;
}

#header-user {
    height: 48px;
    width: 48px;
    position: relative;
}

#header-avatar {
    user-select: none;
    cursor: pointer;
    width: var(--header-avatar-size);
    height: var(--header-avatar-size);
    border-radius: 100%;
}

#profile-dropdown {
    z-index: 1;
    position: absolute;
    margin-top: 8px;
    top: var(--header-avatar-size);
    right: 0;
    background-color: var(--color-foreground);
    width: 192px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#profile-dropdown:not(.show) {
    display: none;
}

#mini-profile {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    margin: 8px 0;
}

#mini-profile img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

#mini-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mini-info p {
    max-width: 142px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0;
}

#mini-username {
    font-size: 11pt;
    color: var(--color-text-secondary);
}

#logout {
    color: var(--color-negative);
}

#profile-dropdown #logout svg {
    fill: var(--color-negative);
}

#profile-dropdown li #logout:hover {
    background-color: var(--color-negative-hover);
}

#profile-separator {
    height: 1px;
    background-color: var(--color-border-light);
}

#profile-dropdown li a {
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    transition: background-color 0.075s ease;
}

#profile-dropdown li a:hover {
    background-color: var(--color-hover);
}

#profile-dropdown li a svg {
    width: 20px;
    height: 20px;
    fill: black;
}

#profile-dropdown li a span {
    display: block;
}

#page-content {
    flex: 1;
    padding: 16px 16px 16px 32px;
}
