#graph-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.graph-card {
    width: fit-content;
    position: relative;
    background-color: var(--color-foreground);
    padding: 16px 16px 8px 16px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.graph-card .header {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 8px;
}

.graph-card .sensor-name-wrapper {
    flex: 1;
}

.graph-card .sensor-name {
    margin: 0;
    font-size: 12pt;
    max-width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.graph-card.empty .readings-count {
    display: none;
}

.graph-card.empty .sensor-name {
    max-width: 280px;
}

.graph-card .controls {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    align-items: center;
}

.graph-card .controls button {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: var(--color-dark-background);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition:
        opacity 0.2s ease,
        background-color 0.2s ease;
}

.graph-card .controls button:enabled:hover {
    background-color: var(--color-dark-background-hover);
}

.graph-card .controls button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.graph-card .controls button svg {
    width: 100%;
    height: 100%;
    fill: var(--color-foreground);
}

.graph-card .current-date {
    transition:
        border-color 0.1s ease,
        color 0.1s ease,
        background-color 0.1s ease;
}

.graph-card .current-date:invalid {
    border-color: #ad0505;
    color: #ad0505;
    background-color: #ff35352e;
}

.graph-card .info-text {
    position: absolute;
    width: fit-content;
    height: fit-content;
    /* put it in the bottom right corner of the graph */
    bottom: 16px;
    right: 20px;
    pointer-events: none;
    font-size: 18pt;
    opacity: 0.4;
}

/* only show info-text when displaying today's readings, or when empty */
.graph-card:not(.empty):not(.today) .info-text {
    opacity: 0;
}

.info-text .temperature {
    font-family: monospace;
}

.dygraph-legend {
    padding: 8px;
    border-radius: 4px;
    opacity: 0.8;
}
