#graph-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.graph-card {
    width: fit-content;
    background-color: whitesmoke;
    position: relative;
}

.graph-card .header {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
}

.graph-card .sensor-name-wrapper {
    flex: 1;
}

.graph-card .sensor-name {
    font-size: 12pt;
    max-width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.graph-card.empty .readings-count {
    display: none;
}

.graph-card.empty .sensor-name {
    max-width: 285px;
}

.graph-card .current-date:invalid {
    background-color: red;
}

.graph-card .info-text {
    position: absolute;
    width: fit-content;
    height: fit-content;
    /* put it in the bottom right corner of the graph */
    bottom: 0;
    right: 12px;
    pointer-events: none;
    font-size: 18pt;
    opacity: 0.4;
}

.info-text .temperature {
    font-family: monospace;
}

.dygraph-legend {
    padding: 8px;
    border-radius: 4px;
}
