#graph-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.graph-card {
    width: fit-content;
    background-color: lightgreen;
}

.dygraph-legend {
    padding: 8px;
    border-radius: 4px;
}
