#banner-left {
    box-sizing: border-box;
    background-color: var(--color-dark-background);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 96px 128px 96px;
    font-size: 24pt;
}

#title {
    margin-bottom: 0;
}

#subtitle {
    font-weight: normal;
    font-size: 24pt;
    line-height: 50px;
}

#login-right {
    font-size: 14pt;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    background-color: var(--color-foreground);
}

#login-form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

#login-error {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    background-color: var(--color-error-hover);
    color: var(--color-error);
    padding: 8px 16px 8px 8px;
    border-radius: 4px;
    align-items: center;
    font-size: 12pt;
    transition: opacity 0.075s ease;
}

#login-error svg {
    fill: var(--color-error);
}

body:not(.incorrect-login) #login-error {
    opacity: 0;
    pointer-events: none;
}

#login-form input {
    font-size: inherit;
    padding: 8px 40px 8px 8px;
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

#password-wrapper {
    position: relative;
}

#password {
    width: 100%;
    box-sizing: border-box;
    padding-right: 40px; /* 8 + 24 + 8 */
}

#password-visibility {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    padding-right: 8px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#password-visibility svg {
    width: 24px;
    height: 24px;
    fill: var(--color-border);
}

#password-visibility.visible #invisible {
    display: none;
}

#password-visibility:not(.visible) #visible {
    display: none;
}

#remember-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#remember-field label {
    font-size: 12pt;
    cursor: pointer;
    padding-left: 8px;
}

#remember-login {
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin: 0;
}

#login {
    background-color: var(--color-dark-background);
    border: none;
    padding: 8px 0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto 0 auto;
    font-size: inherit;
    width: 100%;
}

/* -- responsive design -- */

@media screen and (max-width: 768px) {
    body {
        background-color: var(--color-foreground);
    }

    #content {
        flex-direction: column;
    }

    #banner-left,
    #login-right {
        width: auto;
        position: initial;
        padding: 16px;
    }

    #banner-left {
        text-align: center;
    }

    #title {
        margin-top: 8px;
        font-size: 28pt;
    }

    #subtitle {
        font-size: 14pt;
        line-height: 1.5;
    }

    #login-right {
        font-size: 12pt;
    }

    #login-form {
        row-gap: 16px;
    }

    #login-error {
        font-size: 10pt;
    }
}
