#gauge-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.gauge-card {
    width: fit-content;
    background-color: lightsteelblue;
}

.gauge-card .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

.sensor-name {
    font-size: 12pt;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
