#gauge-cards,
#skeleton-gauge-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.gauge-card {
    width: fit-content;
    background-color: var(--color-foreground);
    padding: 16px 16px 0 16px; /* the gauge's padding works as a padding-bottom */
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.gauge {
    height: 180px; /* avoid cutting off the gauge pointer */
}

.gauge-card .header {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

.sensor-name {
    margin: 0;
    font-size: 12pt;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

/* -- skeletons -- */

.gauge-card.skeleton {
    box-sizing: border-box;
    /* dimensions of a normal, filled gauge card */
    width: 332px;
    height: 223px;
    background-color: var(--color-skeleton-start);
    animation: skeleton-loading 1s linear infinite alternate;
    box-shadow: none;
}

body.loading-gauge-cards #gauge-cards {
    /* can't use 'display: none' or else the gauge SVGs won't be generated */
    opacity: 0;
    /* don't take up any space */
    position: absolute;
    top: 0;
    left: 0;
}

body:not(.loading-gauge-cards) #skeleton-gauge-cards {
    display: none;
}
