body {
    /* -- report preview measurements, based on A4 paper -- */
    /* a4 ratio */
    --report-width: 330px;
    --report-height: calc(1.41 * var(--report-width));
    /* header */
    --report-header-height: calc(0.07 * var(--report-height));
    /* graph (when table-and-graph) */
    --report-graph-width: calc(0.4 * var(--report-width));
    --report-graph-height: calc(0.235 * var(--report-height));
    /* graph (when alone) */
    --report-graph-full-width: calc(0.96 * var(--report-width));
    --report-graph-full-height: calc(0.51 * var(--report-height));
    /* notes */
    --report-notes-height: calc(0.048 * var(--report-height));
}

input[type="radio"] {
    margin: 0;
}

#page-content {
    display: flex;
    justify-content: center;
}

#report-form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    background-color: var(--color-foreground);
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.columns {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

#form-columns {
    column-gap: 64px;
}

#form-sections {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    font-size: 11pt;
}

.form-section-title {
    font-size: 11pt;
    margin: 0 0 8px 0;
}

.timeframe-type h4 {
    font-size: 10pt;
    margin: 0;
}

#sensor {
    width: 128px;
}

#timeframe-types {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.datetime-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}

#range-fields {
    margin-top: 4px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

#end-value {
    margin-left: 3px; /* align it to the Start value */
}

#notes {
    padding: 8px;
    font-size: 10pt;
    font-family: inherit;
    resize: none;
}

#notes-length {
    text-align: right;
    font-size: 10pt;
}

#generate {
    background-color: var(--color-dark-background);
    border: none;
    padding: 8px 0;
    width: 200px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto 0 auto;
    transition: opacity 0.2s ease;
}

#report-form:invalid #generate {
    opacity: 0.8;
    cursor: not-allowed;
}

/* -- report preview -- */

#preview {
    background-color: white;
    width: var(--report-width);
    height: var(--report-height);
    display: flex;
    flex-direction: column;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#preview-header {
    width: 100%;
    height: var(--report-header-height);
    background-color: #c4c6d0;
}

#preview-data {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 2px;
    column-gap: 2px;
    justify-content: space-between;
}

#preview-table {
    background-color: #add6ff;
    color: #0b335b;
    flex: 1;
}

#preview-graph {
    background-color: #abfab8;
    color: #125b1e;
    width: var(--report-graph-width);
    height: var(--report-graph-height);
}

#preview-notes {
    height: var(--report-notes-height);
    background-color: #ffd6ad;
    color: #591d0a;
}

/* -- graph/table -- */

#preview:not([data-format="table"]):not([data-format="table-and-graph"])
    #preview-table {
    display: none;
}

#preview:not([data-format="graph"]):not([data-format="table-and-graph"])
    #preview-graph {
    display: none;
}

#preview[data-format="graph"] #preview-graph {
    margin: 0 auto auto auto;
    width: var(--report-graph-full-width);
    height: var(--report-graph-full-height);
}

#preview:not(.has-notes) #preview-notes {
    /* still occupy space */
    opacity: 0;
}

/* section texts */
.preview-section {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#preview-notes {
    justify-content: start;
    font-size: 9pt;
    padding-left: 8px;
}
