#sensors,
#skeleton-sensors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

body:not(.no-sensors) .info-empty {
    display: none;
}

body.no-sensors #sensors {
    display: none;
}

.sensor {
    background-color: var(--color-foreground);
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sensor-header {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 8px;
}

.sensor-name-wrapper {
    flex: 1;
}

.sensor-name {
    font-size: 11pt;
    margin: 0;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.sensor-edit-button {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: opacity 0.1s ease;
}

#sensors:not(.can-edit) .sensor-edit-button {
    opacity: 0;
    pointer-events: none;
}

.sensor-edit-button svg {
    width: 20px;
    height: 20px;
    fill: var(--color-text-secondary);
}

.sensor:not(:hover) .sensor-edit-button {
    opacity: 0;
}

.sensor-info {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    font-size: 10pt;
}

/* -- skeletons -- */

.sensor.skeleton {
    box-sizing: border-box;
    /* dimensions of a normal, filled sensor card */
    width: 221.15px;
    height: 95px;
    background-color: var(--color-skeleton-start);
    animation: skeleton-loading 1s linear infinite alternate;
    box-shadow: none;
}

body.loading-sensors #sensors {
    display: none;
}

body:not(.loading-sensors) #skeleton-sensors {
    display: none;
}

/* -- edit modal -- */

#modal-edit .modal__container {
    max-width: 350px;
}

#modal-edit-apply {
    color: white;
    background-color: var(--color-dark-background);
    border: 1px solid var(--color-border);
}
