#page-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#top-actions {
    display: flex;
    flex-direction: row;

    --color-create: var(--color-dark-background);
}

.top-action-button {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    padding: 8px 24px 8px 8px;
    align-items: center;
    border: none;
    background-color: gray;
    border-radius: 4px;
    font-size: inherit;
    cursor: pointer;
}

#top-action-create {
    color: white;
    background-color: var(--color-create);
}

#top-action-create svg {
    fill: white;
}

.actions-cell {
    transition: opacity 0.1s ease;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.action {
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.action svg {
    fill: black;
}

#users-table tr:not(:hover) .actions-cell {
    opacity: 0;
}

.permissions-cell {
    display: block;
    text-align: center;
    user-select: none;
}

.modal__content form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.modal__content .columns > * {
    flex: 1;
}

.modal__footer button[type="submit"] {
    background-color: var(--color-dark-background);
    color: white;
}

#modal-create-permissions {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.permission {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.permission label {
    display: flex;
    flex-direction: column;
}

.permission-description {
    font-size: 10pt;
    color: var(--color-text-secondary);
}
