body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #c6ffe2;
    font-size: 9pt;
}

header {
    background-color: coral;
    display: flex;
    flex-direction: row;
}

#header-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-row {
    display: flex;
    flex-direction: row;
}

.header-column {
    flex: 1;
}

#header-token {
    display: flex;
    flex-direction: column;
}

#header-token img {
    width: 72px;
    height: 72px;
    background-color: red;
}

#header-token span {
    font-family: monospace;
}

/* -- data -- */

#data-section {
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* -- table -- */

#tables-section {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.table {
    height: fit-content;
    font-size: 8pt;
    border-collapse: collapse;
}

.table td {
    border: 1px solid gray;
}

.table-day .day-value {
    text-align: center;
    background-color: black;
    color: white;
}

.table-spacer {
    height: 15px; /* exact height of a row */
}

.table .datetime {
    background-color: lightpink;
    text-align: right;
}

.table .temperature {
    background-color: lightblue;
    text-align: right;
    font-family: monospace;
}

/* -- graph -- */

#graph-section {
    margin: 0 auto;
    position: relative;
    right: 12px; /* align it */
}

.dygraph-axis-label-y {
    font-size: 9pt;
}

/* -- notes -- */

#notes-section {
    padding: 8px;
    width: 793px;
    background-color: lightskyblue;
}

#notes-title {
    font-weight: bold;
}
