body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 8pt;
    --border-color: #aaaaaa;
    --header-spacing: 4px;
}

header {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--border-color);
}

#header-logo {
    height: 72px;
    width: 72px;
    background-color: #2288ee;
    text-align: center;
    margin: var(--header-spacing);
}

#header-logo h1 {
    rotate: -45deg;
}

#header-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

#title {
    text-align: center;
    font-size: 12pt;
    border-bottom: 2px solid var(--border-color);
    margin: var(--header-spacing) 0;
    padding-bottom: var(--header-spacing);
}

#header-info {
    display: flex;
    flex-direction: row;
    padding: 0 var(--header-spacing) var(--header-spacing) var(--header-spacing);
}

#header-info .header-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 2px;
}

#range-end-value {
    margin-left: 8px; /* align it with the start of the range */
}

/* TODO: differently-coloured letters and numbers for readability? */
#token-value {
    font-family: monospace;
    background-color: #efefef;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1px 4px;
}

#header-token {
    display: flex;
    flex-direction: column;
}

#header-token img {
    width: 72px;
    height: 72px;
    background-color: whitesmoke;
}

#qr-code {
    height: 72px;
    width: 72px;
    margin: var(--header-spacing);
}

/* -- data -- */

#data-section {
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* -- table -- */

#tables-section {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.table {
    height: fit-content;
    font-size: 6pt;
    border-collapse: collapse;
}

.table td {
    border: 1px solid gray;
}

.table-day .day-value {
    text-align: center;
    background-color: black;
    color: white;
}

.table-spacer {
    height: 12.416px; /* exact height of a row */
}

.table .datetime {
    text-align: right;
    background-color: #dddddd;
}

.table .temperature {
    text-align: right;
    font-family: monospace;
}

/* -- graph -- */

#graph-section {
    position: relative;
    right: 12px; /* align it */
}

.dygraph-axis-label {
    font-size: 8pt;
}

/* -- notes -- */

#notes-section {
    padding: 0 8px;
    width: 793px;
}

#notes-title {
    font-weight: bold;
}
