body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 9pt;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
}

#header-info {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#header-info .header-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 2px;
}

#range-end-value {
    margin-left: 9px;
}

/* TODO: differently-coloured letters and numbers for readability? */
#token-value {
    font-family: monospace;
    background-color: #efefef;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 2px 4px;
}

#header-token {
    display: flex;
    flex-direction: column;
}

#header-token img {
    width: 72px;
    height: 72px;
    background-color: whitesmoke;
}

/* -- data -- */

#data-section {
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* -- table -- */

#tables-section {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.table {
    height: fit-content;
    font-size: 8pt;
    border-collapse: collapse;
}

.table td {
    border: 1px solid gray;
}

.table-day .day-value {
    text-align: center;
    background-color: black;
    color: white;
}

.table-spacer {
    height: 15px; /* exact height of a row */
}

.table .datetime {
    text-align: right;
    background-color: #dddddd;
}

.table .temperature {
    text-align: right;
    font-family: monospace;
}

/* -- graph -- */

#graph-section {
    position: relative;
    right: 12px; /* align it */
}

.dygraph-axis-label-y {
    font-size: 9pt;
}

/* -- notes -- */

#notes-section {
    padding: 8px;
    width: 793px;
}

#notes-title {
    font-weight: bold;
}
