<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FrostSense</title>
    <link rel="stylesheet" href="/static/css/global.css">
    {% block css %} {% endblock %}
</head>
<body>
    <div id="content">
        <nav id="sidebar">
            <a href="/readings">Readings</a>
            <a href="/sensors">Sensors</a>
            <a href="/reports">Reports</a>
        </nav>

        <div id="page-content">
            {% block content %} {% endblock %}
        </div>
    </div>

    {% block js %} {% endblock %}
</body>
</html>
