<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login - FrostSense</title>
        <link rel="stylesheet" href="/static/css/global.css" />
        <link rel="stylesheet" href="/static/css/login.css" />
    </head>
    <body>
        <div id="content">
            <div id="banner-left">
                <h1 id="title">FrostSense</h1>
                <h2 id="subtitle">24/7 Temperature Tracking made easy.</h2>
            </div>
            <div id="login-right">
                <form id="login-form">
                    <div>
                        <h2>Welcome!</h2>
                        <p>
                            Please enter your username and password to log in.
                        </p>
                    </div>

                    <div class="form-field">
                        <label for="username">Username</label>
                        <input type="text" id="username" required autofocus />
                    </div>

                    <div class="form-field">
                        <label for="password">Password</label>
                        <input type="password" id="password" required />
                    </div>

                    <div id="remember-field">
                        <input type="checkbox" id="remember-login" />
                        <label for="remember-login">Remember me</label>
                    </div>

                    <button id="login" type="submit">Login</button>
                </form>
            </div>
        </div>

        <script src="/static/js/global.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/login.js"></script>
    </body>
</html>
